// CONFIG VALUES
$SMALL_SIZE: 150px !global;
$MEDIUM_SIZE: 250px !global;
$LARGE_SIZE: 350px !global;
$HUGE_SIZE: 450px !global;

$INNER_PADDING: 10px !global;

$SHADOW_OFFSET_LEFT: 0 !global;
$SHADOW_OFFSET_TOP: 2px !global;
$SHADOW_STRENGTH: 4px !global;

$BORDER_RADIUS: 5px !global;
$BORDER_WIDTH: 1px !global;

$ARROW_SIZE: 6px !global; // pixels here is not a real pixels. Would be better if you'll never touch this value :)